[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

dash = "*"
dash-renderer = "*"
dash-html-components = "*"
dash-core-components = "*"
geopandas = "*"
pandas = "*"
plotly = "*"
dash-dangerously-set-inner-html = "*"
visdcc = "*"
xarray = "*"
gunicorn = "*"


[dev-packages]



[requires]

python_version = "3.6"
